<!DOCTYPE html>
<html>
<head>
  <title>Task 2 - Score</title>
</head>
<body>

<p style="color: <%= score >= 80 ? 'green' : 'red' %>">
  Sizning ballingiz: <%= score %>
</p>

</body>
</html>
